* {
    margin: 0;
    padding: 0%;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.nav-bar {
    background-color: rgb(0, 25, 98);
    color: white;
    height: 5rem;
}
header {
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-between;
}

.nav-home {
    width: 40rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.nav-home a{
    text-decoration: none;
    font-size: large;
    color: white;
    transition: all 0.3s;

}
.nav-home a:hover {
    color: rgba(255, 255, 255, 0.589);
}

.btn-signIn {
    color:rgb(0, 25, 98);
    width: 8rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: rgb(198, 158, 102);
    border-color: rgb(198, 158, 102);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.select-bar {
    margin-top: 2rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.select-bar select{
    font-size: large;
    display: flex;
    text-align: center;
    width: 10rem;
    color:rgb(0, 25, 98);
    font-weight: bold;
    border-radius: 1rem;
    background-color: rgb(198, 158, 102);
}
.caution {
    width: 30rem;
    height: 40rem;
    background-color: rgb(245, 242, 237);
    color:rgb(0, 25, 98);
    border:  2px solid rgb(0, 25, 98);
    /* border-top: 2px solid rgb(0, 25, 98);
    border-bottom:  2px solid rgb(0, 25, 98); */
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    top: 20%;
    left:37%;
    display: flex;
    flex-direction: column;
}

.select-sem-cycle{
    font-weight: bold;
    color:rgb(0, 25, 98);
    font-size:1.3rem;
}
#notes-and-qb-in-fp{
    color:rgb(198, 158, 102);
    font-size: 1.6rem;
    position: absolute;
    top: 4%;
    left: 5%;
}
#select-semcycle{
    position: absolute;
    top: 20%;
    left: 10%;
}
#mismatch-pdf{
    position: absolute;
    top: 30%;
    left: 3%;
}
#note1{
    position: absolute;
    left: 3%;
    top: 50%;
    font-size:1.3rem; 
    color:rgb(0, 25, 98);

}
#note2 {
    position: absolute;
    left: 3%;
    top: 60%;
    font-size:1.3rem; 
    color:rgb(0, 25, 98);
}

#emailid {
    position: absolute;
    left: 12%;
    top: 70%;
    font-size:1.3rem; 
 }

#about-copyright {
    position:absolute;
    left: 12%;
    bottom: 0;
    font-size: large; 

}
.content{
    width: 35rem;
    height: 40rem;
    /* background-color: black; */
    position: absolute;
    top: -10%;
    left: 50%;
    transform:translate(-50%,50%);
}

.pdf-div {
    overflow-y: scroll;
    width: 32rem;
    height: 38rem;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

#sem1-Ecycle{
    display: none;
}
#sem1-Pcycle{
    display: none;
}
#sem2-Ecycle {
    display: none;
}
#sem2-Pcycle{
    display: none;
}
.pdf-div ul{
    padding-left: 3rem;
    font-size: 1.2rem;
}
.pdf-div ul li {
    margin-top:1rem ;

}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
.h2-in-div {
    margin-top: 2rem;
    font-size: 20px;
}
a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.Accounts{
    z-index: 1;
    position: absolute;
    top: 15%;
    left: 37%;
    width: 30rem;
    height: 40rem;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* display: none; */
}
.close-btn{
    font-size: 30px;
    position: relative;
    top: 5%;
    left: 41%;
    cursor: pointer;
}

.github {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    /* background-color: gold; */
    width: 18rem;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top: 25%;
    margin-bottom: 20px;
}
.linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    /* background-color: gold; */
    width: 18rem;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top: 25%;
    margin-bottom: 20px;
}
.youtube{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    /* background-color: gold; */
    width: 18rem;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top: 25%;
    margin-bottom: 20px;
}
.instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    /* background-color: gold; */
    width: 18rem;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top: 25%;
    margin-bottom: 20px;
}
.enquary {
    color: #ffffffa8;
    position: relative;
    top: 30%;
}
.Accounts a{
    color: rgba(255, 255, 255, 0.644);
}
.Accounts hr{
    margin-bottom: 20px;
    width:18rem;
    position: relative;
    top: 25%;
}

.Follow-us{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(155, 153, 153);
    width: fit-content;
    position: relative;
    top: 15%;
}




@media only screen and (max-width:600px) {
    .nav-bar {
        padding-bottom: 3%;
        height: 3rem;
        width: 40rem;
    }
    header {
        position: relative;
        bottom: 20%;
    }
    .nav-bar h2{
        font-size: 20px;
    }
    .btn-signIn{
        width: 6.2rem;
        height: 2.2rem;
        border-radius: 2rem;
        position: relative;
        right: 40%;
    }
    #sem {
        height: 3rem;
    }
    #cycle {
        height: 3rem;
    }
    .select-sem-cycle{
        font-weight: bold;
        color:rgb(0, 25, 98);
        position: absolute;
        top: 30%;
        left: 13%;
        font-size:1.5rem;
    }

    .caution {
    width: 22rem;
    height: 30rem;
    background-color: rgb(245, 242, 237);
    color:rgb(0, 25, 98);
    border:  2px solid rgb(0, 25, 98);
    /* border-top: 2px solid rgb(0, 25, 98);
    border-bottom:  2px solid rgb(0, 25, 98); */
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    top: 28%;
    left:7%;
    display: flex;
    flex-direction: column;
}

.select-sem-cycle{
    font-weight: bold;
    color:rgb(0, 25, 98);
    font-size:1rem;
}
#notes-and-qb-in-fp{
    color:rgb(198, 158, 102);
    font-size: 1.2rem;
    position: absolute;
    top: 4%;
    left: 5%;
}
#select-semcycle{
    position: absolute;
    top: 15%;
    left: 5%;
}
#mismatch-pdf{
    position: absolute;
    top: 24%;
    left: 5%;
}
#note1{
    position: absolute;
    left: 5%;
    top: 40%;
    font-size:1rem; 
    color:rgb(0, 25, 98);

}
#note2 {
    position: absolute;
    left: 5%;
    top: 50%;
    font-size:1rem; 
    color:rgb(0, 25, 98);
}

#emailid {
    position: absolute;
    left: 12%;
    top: 55%;
    font-size:1rem; 
 }

#about-copyright {
    position:absolute;
    left: 7%;
    top: 70%;
    font-size: small; 

}
    .pdf-div {
    overflow-y: scroll;
    width: 30rem;
    height: 35rem;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -12%;
    left: 61%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    }
    a{
    font-size: 15px;
    text-decoration: none;
    color: black;
}
    .nav-home{
        display: none;
    }
header {
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-between;
}
.version {
    color: rgb(158, 157, 157);
    font-size: small;
}
.Accounts {
    background-color: rgb(53, 53, 53);
    width: 22rem;
    height: 40rem;
    z-index: 2;
    position: absolute;
    top: 16%;
    left: 9%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
}
.github {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    /* background-color: gold; */
    width: 18rem;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top: 25%;
    margin-bottom: 20px;
}
.linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    /* background-color: gold; */
    width: 18rem;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top: 25%;
    margin-bottom: 20px;
}
.youtube{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    /* background-color: gold; */
    width: 18rem;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top: 25%;
    margin-bottom: 20px;
}
.instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    /* background-color: gold; */
    width: 18rem;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top: 25%;
    margin-bottom: 20px;
}
.Accounts a{
    color: rgba(255, 255, 255, 0.644);
}
.Accounts hr{
    margin-bottom: 20px;
    width:18rem;
    position: relative;
    top: 25%;
}
.enquary {
    color: #ffffffa8;
    position: relative;
    top: 30%;
}
.Follow-us{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(155, 153, 153);
    width: fit-content;
    position: relative;
    top: 15%;
}
.close-btn{
     color: white;
     font-size: 20px;
     /* background-color: aqua; */
     display: flex;
     align-items: center;
     justify-content: center;
     width: 25px;
     height: 25px;
     position: relative;
     right: -40%;
     top: 14px;
}
}



@media only screen and (max-width:360px) {
    .nav-bar {
        padding-bottom: 3%;
        height: 3rem;
        width: 40rem;
    }
    header {
        position: relative;
        bottom: 20%;
    }
    .nav-bar h2{
        font-size: 20px;
    }
    .btn-signIn{
        width: 6rem;
        height: 2rem;
        border-radius: 2rem;
        position: relative;
        right: 49%;
    }
    #sem {
        height: 3rem;
    }
    #cycle {
        height: 3rem;
    }
    .select-sem-cycle{
        font-weight: bold;
        color:rgb(0, 25, 98);
        position: absolute;
        top: 35%;
        left: 8%;
        font-size:1.5rem;
    }

    .caution {
    width: 22rem;
    height: 30rem;
    background-color: rgb(245, 242, 237);
    color:rgb(0, 25, 98);
    border:  2px solid rgb(0, 25, 98);
    /* border-top: 2px solid rgb(0, 25, 98);
    border-bottom:  2px solid rgb(0, 25, 98); */
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    top: 28%;
    left:7%;
    display: flex;
    flex-direction: column;
}

.select-sem-cycle{
    font-weight: bold;
    color:rgb(0, 25, 98);
    font-size:1rem;
}
#notes-and-qb-in-fp{
    color:rgb(198, 158, 102);
    font-size: 1.2rem;
    position: absolute;
    top: 4%;
    left: 5%;
}
#select-semcycle{
    position: absolute;
    top: 15%;
    left: 5%;
}
#mismatch-pdf{
    position: absolute;
    top: 24%;
    left: 5%;
}
#note1{
    position: absolute;
    left: 5%;
    top: 40%;
    font-size:1rem; 
    color:rgb(0, 25, 98);

}
#note2 {
    position: absolute;
    left: 5%;
    top: 50%;
    font-size:1rem; 
    color:rgb(0, 25, 98);
}

#emailid {
    position: absolute;
    left: 12%;
    top: 55%;
    font-size:1rem; 
 }

#about-copyright {
    position:absolute;
    left: 7%;
    top: 70%;
    font-size: small; 

}
    .pdf-div {
    overflow-y: scroll;
    width: 30rem;
    height: 35rem;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -12%;
    left: 62%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    }
        a{
    font-size: 15px;
    text-decoration: none;
    color: black;
}
    .nav-home{
        display: none;
    }
header {
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-between;
}
.version {
    color: rgb(158, 157, 157);
    font-size: small;
}
.Accounts {
    background-color: rgb(53, 53, 53);
    width: 20rem;
    height: 34rem;
    z-index: 2;
    position: absolute;
    top: 16%;
    left: 12%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
}

.github {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    /* background-color: gold; */
    width: 18rem;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top: 25%;
    margin-bottom: 20px;
}
.linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    /* background-color: gold; */
    width: 18rem;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top: 25%;
    margin-bottom: 20px;
}
.youtube{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    /* background-color: gold; */
    width: 18rem;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top: 25%;
    margin-bottom: 20px;
}
.instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    /* background-color: gold; */
    width: 18rem;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top: 25%;
    margin-bottom: 20px;
}
.Accounts a{
    color: rgba(255, 255, 255, 0.644);
}
.Accounts hr{
    margin-bottom: 20px;
    width:18rem;
    position: relative;
    top: 25%;
}
.enquary {
    font-size: small;
    color: #ffffffa8;
    position: relative;
    top: 25%;
}
.Follow-us{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(155, 153, 153);
    width: fit-content;
    position: relative;
    top: 15%;
}
.close-btn{
     color: white;
     font-size: 20px;
     /* background-color: aqua; */
     display: flex;
     align-items: center;
     justify-content: center;
     width: 25px;
     height: 25px;
     position: relative;
     right: -40%;
     top: 14px;
}
}